## Importamos las bibliotecas necesarias

In [32]:
import pandas as pd
import numpy as np    
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

### Leemos los datos históricos de BTC desde un archivo CSV

se muetran las primeras 5 filas

In [33]:
import pandas as pd



# Ruta hacia el archivo CSV
ruta_archivo = "C:/Users/SILCA/OneDrive/Escritorio/dataset/BTC-USD.csv"

# Cargar los datos en un DataFrame
df = pd.read_csv(ruta_archivo)

print(df.head())

                             Date       Open       High        Low      Close  \
0      lunes, 21 de marzo de 2016  413417999  413417999  410381012  413307007
1     martes, 22 de marzo de 2016  413131989  418375000  412531006  418088989
2  miércoles, 23 de marzo de 2016  418161011  419268005  417364014  418040985
3     jueves, 24 de marzo de 2016  418424011  418679993  415485992  416394012
4    viernes, 25 de marzo de 2016  416507996  418079987  415558014  417177002

     Volume
0  61655400
1  66813300
2  61444200
3  68346704
4  52560000

### imprimimos el Dataframe

In [34]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


# Ruta hacia el archivo CSV
ruta_archivo = "C:/Users/SILCA/OneDrive/Escritorio/dataset/BTC-USD.csv"

# Cargar los datos en un DataFrame
df = pd.read_csv(ruta_archivo)
print(df)

                                Date         Open         High          Low  \
0         lunes, 21 de marzo de 2016    413417999    413417999    410381012
1        martes, 22 de marzo de 2016    413131989    418375000    412531006
2     miércoles, 23 de marzo de 2016    418161011    419268005    417364014
3        jueves, 24 de marzo de 2016    418424011    418679993    415485992
4       viernes, 25 de marzo de 2016    416507996    418079987    415558014
...                              ...          ...          ...          ...
2855     martes, 16 de enero de 2024  42499335938  43566273438  42085996094
2856  miércoles, 17 de enero de 2024  43132101563  43189890625  42189308594
2857     jueves, 18 de enero de 2024  42742312500  42876347656  40631171875
2858    viernes, 19 de enero de 2024  41278460938  42134160156  40297457031
2859    domingo, 21 de enero de 2024  41671488281  41693160156  41615140625

            Close       Volume
0       413307007     61655400
1       418088989     66813300
2       418040985     61444200
3       416394012     68346704
4       417177002     52560000
...           ...          ...
2855  43154945313  24062872740
2856  42742652344  20851232595
2857  41262058594  25218357242
2858  41618406250  25752407154
2859  41623695313  11274039296

[2860 rows x 6 columns]

### Verificamos que los datos se hayan cargado correctamente para mostrar las primeras filas del DataFrame.

In [35]:
df.head()

,Date,Open,High,Low,Close,Volume
0,"lunes, 21 de marzo de 2016",413417999,413417999,410381012,413307007,61655400
1,"martes, 22 de marzo de 2016",413131989,418375000,412531006,418088989,66813300
2,"miércoles, 23 de marzo de 2016",418161011,419268005,417364014,418040985,61444200
3,"jueves, 24 de marzo de 2016",418424011,418679993,415485992,416394012,68346704
4,"viernes, 25 de marzo de 2016",416507996,418079987,415558014,417177002,52560000

### Examinamos las columnas disponibles en el DataFrame

In [36]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

### Cambiamos nombres de columnas

In [40]:
nuevos_nombres = {
    "Date":"Fecha",
    "Open": "Precio_Apertura",
    "High":"Precio_Máximo",
    "Low": "Precio_Mínimo",
    "Close": "Precio_Cierre",
    "Volume": "Volumen"}

# Renombrar las columnas en el DataFrame
df.rename(columns=nuevos_nombres, inplace=True)

# Verificar los nuevos nombres de las columnas
print(df.columns)

Index(['Fecha', 'Precio_Apertura', 'Precio_Máximo', 'Precio_Mínimo',
       'Precio_Cierre', 'Volumen'],
      dtype='object')

### Verificamos que se realizo el cambio de nombres de las columnas

In [41]:
print(df)

                               Fecha  Precio_Apertura  Precio_Máximo  \
0         lunes, 21 de marzo de 2016        413417999      413417999
1        martes, 22 de marzo de 2016        413131989      418375000
2     miércoles, 23 de marzo de 2016        418161011      419268005
3        jueves, 24 de marzo de 2016        418424011      418679993
4       viernes, 25 de marzo de 2016        416507996      418079987
...                              ...              ...            ...
2855     martes, 16 de enero de 2024      42499335938    43566273438
2856  miércoles, 17 de enero de 2024      43132101563    43189890625
2857     jueves, 18 de enero de 2024      42742312500    42876347656
2858    viernes, 19 de enero de 2024      41278460938    42134160156
2859    domingo, 21 de enero de 2024      41671488281    41693160156

      Precio_Mínimo  Precio_Cierre      Volumen
0         410381012      413307007     61655400
1         412531006      418088989     66813300
2         417364014      418040985     61444200
3         415485992      416394012     68346704
4         415558014      417177002     52560000
...             ...            ...          ...
2855    42085996094    43154945313  24062872740
2856    42189308594    42742652344  20851232595
2857    40631171875    41262058594  25218357242
2858    40297457031    41618406250  25752407154
2859    41615140625    41623695313  11274039296

[2860 rows x 6 columns]